
* {
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    scroll-behavior: smooth;
    cursor: none;
}

.custom-cursor {
    position: absolute;
    width: 50px; /* Size of the circular background */
    height: 50px;
    border-radius: 50%; /* Make it circular */
    background-color: rgba(255, 165, 0, 0.2); /* Orange translucent background */
    pointer-events: none; /* So it doesn't block clicks */
    z-index: 1000; /* Always on top */
    transform: translate(-50%, -50%); /* Center the circle on the pointer */
    transition: transform 0.1s ease-in-out;
}
/* Inner colored dot */
.custom-cursor::after {
    content: '';
    width: 10px; /* Size of the dot */
    height: 10px;
    background-color: orange; /*Color of the dot */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-track {
    background: black;
  }
  ::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 40px;
  }
  /* Horizontal Scrollbar Styles */
::-webkit-scrollbar:horizontal {
    height: 2px; /* Set height for horizontal scrollbar */
}

::-webkit-scrollbar-track:horizontal {
    background: black; /* Background color for track */
}

::-webkit-scrollbar-thumb:horizontal {
    background: orange; /* Thumb color for horizontal scrollbar */
    border-radius: 40px;
}


/* Navbar item styling */
.navbar-nav .nav-item {
    font-size: 20px;
}

/* Navbar link hover effect */
.navbar-nav .nav-link:hover {
    color: orange !important; /* Ensure the hover color takes effect */
    text-decoration: none;
}
.navbar-nav .btn:hover{
    background-color: black;
    color: orange;
    border: 1px solid #ffa500;
}
.section1 {
    position: relative; /* Relative positioning for proper layering */
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 800px;
    margin-top: 75px;
    padding-top: 0px;
    z-index: 0; /* z-index of the container */
}

/* First Section */
.first {
    background-color: black;
    color: white;
    font-size: 50px;
    height: auto;
    text-align: center;
    z-index: 2; /* Higher z-index if needed */
}

/* Element to be below (Fitscape Text) */
.section1-fitscape {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 140px;
    color: orange;
    position: relative; /* Set to relative for z-index to work */
    top: -40px;
    z-index: 1; /* Lower z-index to keep it behind the banner */
    height: auto;
    text-shadow: 1.5px 1.5px whitesmoke;
}
.section1-fitscape:hover{
    transform: scale(1.07);
    transition: 0.6s;
    text-shadow: 2px 2px black;

}
/* Image Section */
.section1-image {
    height: 700px;
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 0;
    position: relative;
    bottom: 100px;
}

/* Banner Image - This should appear on top */
.banner-image {
    background-color: black;
    height: 570px;
    width: 75%;
    background-image: url(FitScape-Index_images/ban1.png); 
    background-size: cover;
    position: absolute; /* Absolute to overlap */
    top: -30px; /* Adjust as needed for positioning */
    left: 50%;
    transform: translateX(-50%); /* Center the image */
    z-index: 4; /* Higher z-index to bring it on top */
}


/* Section 2: Banner for Personal Coaching */
.section2 {
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding-top: 10px;
}

.coaching-image {
    background-color: black;
    height: 540px;
    /* width: 90%; */
    border-radius: 20px;
    width: 86%;
    background-image: url(FitScape-Index_images/get-coaching.png);
    background-size: contain;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
}

.section2-button{
    color: white;
    align-self: flex-end;
    justify-self: end;
    position: relative;
    right: -620px;
    bottom: 25px;
}
.section2-button:hover{
    transform: scale(1.2);
    transition: 0.7s;
}
.coaching-image a:hover{
    transform: scale(1.08);
    transition: 0.7s;
    color: orange;
}
.coaching-image a {
    font-size: 20px;
    text-decoration: none;
    background-color: black;
    color: white;
    align-self: flex-end;
    justify-self: end;
    position: relative;
    left: 380px;
    bottom: -30px;
}

.section2-number{
    color: whitesmoke;
    font-size: 20px;
    align-self: flex-end;
    position: relative;
    left: 22px;
    bottom: -29px;
}
.section2-location{
    color: whitesmoke;
    font-size: 20px;
    align-self: flex-end;
    position: relative;
    right: -330px;
    bottom: -30px;
}

/* Section 3: Group Create-Join Cards */
.section3 {
    height: 650px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 40px;
}


.custom-card {
    width: 22rem;
    transition:  all 0.5s;
}
.custom-card h2{
    background-color: black;
    color: whitesmoke;
}
.section3 img{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.card-body{
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.custom-card:hover{
    transform: scale(1.1);
    border: 1px solid  rgb(246, 206, 103);
    transition: 0.8s;
}
.custom-card h2:hover{
    color:rgb(246, 206, 103) ;
    transition: 0.5s;
}


.section3-card-image {
    height: 250px;
    background-color: black;
}
.custom-card p {
    font-size: 15px;
    opacity: 0.5;
    background-color: black;
    color: white;
}

/* section :4 */
.section4{
    background-color: black;
    height: 700px;
    padding: 50px 50px 50px 50px;
}
.quiz-section{
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.quiz-section-image{
    height: 450px;
    width: 450px;
    background-image: url(FitScape-Index_images/section3-card4.jpg) ;
    background-size: cover;
    align-self: center;
    border-radius: 30px;
    margin-left: 100px;
}
.quiz-section-text{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.quiz-section-text-1{
    text-align: center;
    font-size: 70px;
    background-color: black;
    color: whitesmoke;
}
.quiz-section-text-1 p{
    margin: 0px 0px 0px 0px;
    background-color: black;
    color: orange;
    text-shadow: 1.2px 1.2px whitesmoke;
}
.quiz-section-text-1 p:hover{
    transform: scale(1.1);
    transition: 0.5s;
    text-shadow: 1px 1px black;
}
.quiz-section-text-2{
    background-color: black;
    height:200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center-quiz-button{
    font-size: 25px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}





/* Dark-themed styles */

.container-swipe {
    position: relative;
    width: 900px;
    height: 350px;
    border-radius: 50px;
    margin-left: 350px;
    margin-bottom: 200px;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
    color: #eee;
    font-size: 2.2rem;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box.active {
    opacity: 1;
    transform: translateX(0);
}

.box.next {
    transform: translateX(-100%);
}

.box.previous {
    transform: translateX(100%);
}

/* Add a subtle glowing effect for the active box */
.box.active {
    box-shadow: 0 0 15px orange, 0 0 30px orange;
}







/* footer */
.footer-section5{
    height: 650px;
    background-color: black;
    display: flex;
    padding: 50px 24px 0px;
}
.footer{
    background-color: black;
    width: 100%;
    padding-right: 150px;
}
.footer-fitscape{
    width: 100%;
    height:70px;
    background-color: black;
    color: orange;
    display: flex;
    align-items: center;    
    font-size: 70px;
    padding-left: 50px;
}
.footer-section2{
    width: 100%;
    height: 400px;
    background-color: black;
    padding-top: 30px;
    display: flex;
}

.footer-section2-box1{
    width: 30%;
    height: 300px;
    background-color: black;
    padding-top: 30px;
    padding-left: 50px;
    margin-right: 100px;
}

#footer-section1{
    margin: 10px;
    background-color: black;
    color: whitesmoke;
}

.footer-section2-boxes{
    height: auto;
    width: 15%;
    /* background-color: black; */
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.section2-boxes-divs{
    height: 25px;
    width: 100%;
    margin-top: 10px;
    background-color: black;
    color: whitesmoke;
}
.footer-section2-btn{
    background-color: black;
    color: grey;
    /* opacity: 0.5; */
    border: none;
}
.footer-section2-btn:hover{
    color: whitesmoke;
    transform: scale(1.01);
}
.footer-section2-coach{
    background-color: black;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.footer-section2-coach h2{
    background-color: black;
    color: #ffa500;
    font-size: 30px;
    text-align: right;
}
.footer-section2-coach h2:hover{
    transform: scale(1.2);
    color: #FFB733;
    transition: 0.5s;
}

.custom-button{
    margin-top: 35px ;
    background-color: black;
    height: auto;
    display: flex;
    justify-content: end;
}
