body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

.quiz-container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    background-color: black;
    /* border: 2px solid yellow; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color:white;
}

h1 {
    text-align: center;
    color:white;
}

.question {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #fff; /* Line between questions */
}

.question h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color:white;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color : #f0f0f0;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(230, 184, 0);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:rgb(230, 184, 0) ;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    text-align: center;
    color: white;
}

/* Add spacing and border for the form */
form {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 8px;
}