/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #181818;
    color: #f0f0f0;
    line-height: 1.6;
    padding: 5px 200px;
}

h1 {
    color: orange;
    text-align: center;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 30px;
    text-shadow: 1px 1px white;
}
h1:hover{
    color: whitesmoke;
}
h2 {
    color: #f0f0f0;
    margin-top: 50px;
    text-align: center;
}

/* Input Section */
label {
    display: block;
    margin-bottom: 10px;
    color: #cfcfcf;
    font-weight: bold;
    font-size: 22px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 6px;
    background-color: #333;
    color: #f0f0f0;
    font-size: 16px;
    box-sizing: border-box;
}

input::placeholder {
    color: #888;
}

/* Button */
button {
    padding: 12px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}

/* Suggestions Dropdown */
.suggestions {
    border: 1px solid #333;
    max-height: 150px;
    overflow-y: auto;
    /* margin-top: 5px; */
    margin-bottom: 20px;
    background-color: #222;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 6px;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;
    background-color: #222;
    color: #f0f0f0;
    transition: background-color 0.3s;
}

.suggestion-item:hover {
    background-color: white;
    color: black;
}

/* Meal Items */
#mealItems {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.meal-item {
    background-color: #252525;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.meal-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.7);
}

.meal-item span {
    color: #f0f0f0;
    font-size: 16px;
}

/* Total Calories */
#totalCalories {
    font-size: 40px;
    color: #f8f8f8;
    font-weight: bold;
    text-align: center;
    /* display: block; */
}
#totalCalories:hover{
    color: orange;
}